<nav>
	<form action="${pageContext.request.contextPath}/HomeServlet/showCreateQuote" method="post">
		<p> <input type="submit" name="createQuote" value="Create Quote" /> </p>
	</form>
	
	<form action="${pageContext.request.contextPath}/HomeServlet/showRetrieveQuote" method="post">
		<p> <input type="submit" name="retrieveQuote" value="Retrieve Quote" /> </p>
	</form>
	
	<form action="${pageContext.request.contextPath}/HomeServlet/logout" method="post">
		<p> <input type="submit" name="logout" value="Logout" /> </p>
	</form>
</nav>